flows (1).json
[{"id":"527c3e62b51e3531","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"ddfc5720b1896896","type":"inject","z":"527c3e62b51e3531","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":220,"y":140,"wires":[["186f1433462ae482"]]},{"id":"164011b314d1112f","type":"inject","z":"527c3e62b51e3531","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":230,"y":300,"wires":[["186f1433462ae482"]]},{"id":"186f1433462ae482","type":"mqtt out","z":"527c3e62b51e3531","name":"","topic":"MQTT","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"407a01e4.6b637","x":550,"y":180,"wires":[]},{"id":"e064823d2ae1093b","type":"mqtt in","z":"527c3e62b51e3531","name":"","topic":"MQTT","qos":"2","datatype":"auto","broker":"407a01e4.6b637","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":460,"wires":[["48493011eeb88ef5"]]},{"id":"48493011eeb88ef5","type":"function","z":"527c3e62b51e3531","name":"","func":"\nif(msg.payload==\"1\")\nmsg.payload = 1;\nelse msg.payload = 0\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["3b6f5c57ce24a076"]]},{"id":"3b6f5c57ce24a076","type":"arduino out","z":"527c3e62b51e3531","name":"Rele","pin":"8","state":"OUTPUT","arduino":"34855397764abe8b","x":910,"y":480,"wires":[]},{"id":"407a01e4.6b637","type":"mqtt-broker","name":"","broker":" broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"34855397764abe8b","type":"arduino-board","device":"COM4"}]